---
layout: default
title: Maps
permalink: /maps/

projects:
  - glycolysis
  - eicosanoids
  - mevalonate
  - glycogen
  - acly
  - camp
  - inos
  - enos
  - carnitine
  - srebp
  - tag
  - estrogen
  - phosphoinositides
  - glutaminase
  - pyrimidine
  - aspirin
---

<div class="posts">
  {% for project_name in page.projects %}
    {% assign post = site.projects | where: "slug", project_name | first %}
    {% if post %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>
<!--
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
-->
    </article>
    {% endif %}
  {% endfor %}
</div>
