---
layout: default
title: Maps
permalink: /maps/

projects:
  - glycolysis
  - eicosanoids
  - mevalonate
  - glycogen
  - acly
  - camp
  - inos
  - enos
  - carnitine
  - srebp
  - tag
  - estrogen
  - phosphoinositides
  - glutaminase
  - pyrimidine
  - aspirin
---

<div class="posts">
  {% for project_name in page.projects %}
    {% assign project_path = "pages/projects/" | append: project_name | append: ".md" %}
    {% assign project = site.pages | where: "path", project_path | first %}

    {% if project %}
      <article class="post">
        <h1><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h1>

        <div class="entry">
          {% assign after_downloads = project.content | split: "Downloads:" | last %}
          {% assign map_preview = after_downloads | split: "## Contributors" | first %}
          {{ "Downloads:" | append: map_preview | markdownify }}
        </div>
      </article>
    {% endif %}
  {% endfor %}
</div>
